@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<!--<p>Use this page to detail your site's privacy policy.</p>-->
@using System.Xml.Linq
@using System.IO

@Html.Raw(XElement.Load(System.IO.Path.Combine(Startup.GetEnv.WebRootPath, "Privacy.xml")))

<script>
    $(document).ready(function () {
        init_session("@Session.User", "@((int)Session.Role)");
    });
</script>